.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(340px, 100%), 1fr));

  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto 3rem;
  padding: 2rem;
  gap: 2rem;

  background-color: $light-grey;
  border-radius: 1.5rem;

  @media screen and (max-width: map-get($breakpoints, s)) {
    background-color: white;
    margin: 0rem auto 1rem;
    padding: 0;
    gap: 1rem;
  }
}
