.footer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  width: 100vw;
  background-color: black;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;

  @media screen and (max-width: map-get($breakpoints, l)) {
    position: relative;
    left: -1rem;
  }

  margin-top: auto;

  @media screen and (max-width: map-get($breakpoints, s)) {
    font-size: 0.75rem;
  }

  svg {
    width: 8rem;
  }
}
