$base-color: #ff6060;
$light-grey: #f6f6f6;
$mid-grey: #e3e3e3;
$dark-grey: #c4c4c4;

$breakpoints: (
  "s": 768px,
  "n": 1024px,
  "l": 1240px,
);

@import "./components/pages/Location/Location";
@import "./components/pages/About/About";
@import "./components/pages/NotFound/NotFound";

@import "./components/Header/Header";
@import "./components/Banner/Banner";
@import "./components/Gallery/Gallery";
@import "./components/Cover/Cover";
@import "./components/Footer/Footer";
@import "./components/LocationCover/LocationCover";
@import "./components/Tags/Tags";
@import "./components/Tag/Tag";
@import "./components/Rating/Rating";
@import "./components/Collapse/Collapse";

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $base-color;
}

h1,
h2,
h3,
p,
a,
ul,
li,
div,
span,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-weight: 500;
  display: flex;
}

#root {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;

  @media screen and (max-width: map-get($breakpoints, l)) {
    padding: 0 1rem 0;
  }
}

a {
  color: $base-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.underlined {
  text-decoration: underline;
}
