.banner {
  display: grid;
  grid-template-areas: "header";

  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  height: fit-content;
  margin: 0 auto 2.8rem auto;

  @media screen and (max-width: map-get($breakpoints, l)) {
    margin: 0 auto 1rem auto;
  }

  img,
  div,
  h1 {
    grid-area: header;
  }

  div {
    background-color: black;
    opacity: 0.3;
    border-radius: 2rem;

    @media screen and (max-width: map-get($breakpoints, s)) {
      border-radius: 0.8rem;
      max-height: 7rem;
    }
  }

  img {
    width: 100%;
    max-height: 16rem;
    object-fit: cover;
    border-radius: 2rem;

    @media screen and (max-width: map-get($breakpoints, s)) {
      border-radius: 0.8rem;
      max-height: 7rem;
    }
  }

  h1 {
    box-sizing: border-box;
    display: inline;
    color: white;
    z-index: 1;
    font-size: 3rem;
    font-weight: 500;
    margin: auto 2rem;

    @media screen and (max-width: map-get($breakpoints, s)) {
      margin: auto 1rem;
      font-size: 1.5rem;
    }
  }
}
